In [35]:
!pip install yfinance
import yfinance as yf
import pandas as pd
DADOS_STATUS_INVEST= pd.read_excel('teste.xlsx')

In [36]:
# Obtendo todos os tickers da bolsa
TICKER_LISTA = []
for I_CONT in range(587):
    TICKER = DADOS_STATUS_INVEST.loc[I_CONT]['TICKER']
    TICKER_LISTA.append(TICKER)

['AALR3', 'ABCB4', 'ABEV3', 'ADHM3', 'AERI3', 'AESB3', 'AFLT3', 'AGRO3', 'AGXY3', 'AHEB3', 'AHEB5', 'AHEB6', 'ALLD3', 'ALPA3', 'ALPA4', 'ALPK3', 'ALSO3', 'ALUP11', 'ALUP3', 'ALUP4', 'AMAR3', 'AMBP3', 'AMER3', 'ANIM3', 'APER3', 'APTI3', 'APTI4', 'ARML3', 'ARZZ3', 'ASAI3', 'ATMP3', 'ATOM3', 'AURA33', 'AVLL3', 'AZEV3', 'AZEV4', 'AZUL4', 'B3SA3', 'BAHI3', 'BALM3', 'BALM4', 'BAUH4', 'BAZA3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBML3', 'BBRK3', 'BBSE3', 'BDLL3', 'BDLL4', 'BEEF3', 'BEES3', 'BEES4', 'BFRE11', 'BFRE12', 'BGIP3', 'BGIP4', 'BIDI11', 'BIDI3', 'BIDI4', 'BIOM3', 'BKBR3', 'BLAU3', 'BMEB3', 'BMEB4', 'BMGB4', 'BMIN3', 'BMIN4', 'BMKS3', 'BMOB3', 'BNBR3', 'BOAS3', 'BOBR3', 'BOBR4', 'BPAC11', 'BPAC3', 'BPAC5', 'BPAN4', 'BPAR3', 'BPAT33', 'BPHA3', 'BRAP3', 'BRAP4', 'BRBI11', 'BRDT3', 'BRFS3', 'BRGE11', 'BRGE12', 'BRGE3', 'BRGE5', 'BRGE6', 'BRGE7', 'BRGE8', 'BRIT3', 'BRIV3', 'BRIV4', 'BRKM3', 'BRKM5', 'BRKM6', 'BRML3', 'BRPR3', 'BRQB3', 'BRSR3', 'BRSR5', 'BRSR6', 'BSEV3', 'BSLI3', 'BSLI4', 'BTTL4', 'CALI3', 'CALI4', 'CAMB3', 'CAMB4', 'CAML3', 'CARD3', 'CASH3', 'CASN3', 'CASN4', 'CATA3', 'CATA4', 'CBAV3', 'CBEE3', 'CCPR3', 'CCRO3', 'CCXC3', 'CEAB3', 'CEBR3', 'CEBR5', 'CEBR6', 'CEDO3', 'CEDO4', 'CEEB3', 'CEEB5', 'CEEB6', 'CEED3', 'CEED4', 'CEGR3', 'CEPE3', 'CEPE5', 'CEPE6', 'CESP3', 'CESP5', 'CESP6', 'CGAS3', 'CGAS5', 'CGRA3', 'CGRA4', 'CIEL3', 'CLSA3', 'CLSC3', 'CLSC4', 'CMIG3', 'CMIG4', 'CMIN3', 'CMSA3', 'CMSA4', 'CNSY3', 'COCE3', 'COCE5', 'COCE6', 'COGN3', 'CORR3', 'CORR4', 'CPFE3', 'CPLE11', 'CPLE3', 'CPLE5', 'CPLE6', 'CPRE3', 'CRDE3', 'CREM3', 'CRFB3', 'CRIV3', 'CRIV4', 'CRPG3', 'CRPG5', 'CRPG6', 'CSAB3', 'CSAB4', 'CSAN3', 'CSED3', 'CSMG3', 'CSNA3', 'CSRN3', 'CSRN5', 'CSRN6', 'CTCA3', 'CTKA3', 'CTKA4', 'CTNM3', 'CTNM4', 'CTSA3', 'CTSA4', 'CTSA8', 'CURY3', 'CVCB3', 'CXSE3', 'CYRE3', 'DASA3', 'DESK3', 'DEXP3', 'DEXP4', 'DIRR3', 'DMMO3', 'DMVF3', 'DOHL3', 'DOHL4', 'DOTZ3', 'DTCY3', 'DTCY4', 'DTEX3', 'EALT3', 'EALT4', 'ECOR3', 'ECPR3', 'ECPR4', 'EEEL3', 'EEEL4', 'EGIE3', 'EKTR3', 'EKTR4', 'ELEK3', 'ELEK4', 'ELET3', 'ELET5', 'ELET6', 'ELMD3', 'ELPL3', 'EMAE3', 'EMAE4', 'EMBR3', 'ENAT3', 'ENBR3', 'ENEV3', 'ENGI11', 'ENGI3', 'ENGI4', 'ENJU3', 'ENMA3B', 'ENMA6B', 'ENMT3', 'ENMT4', 'EPAR3', 'EQPA3', 'EQPA5', 'EQPA6', 'EQPA7', 'EQTL3', 'ESPA3', 'ESTR3', 'ESTR4', 'ETER3', 'EUCA3', 'EUCA4', 'EVEN3', 'EZTC3', 'FBMC3', 'FBMC4', 'FESA3', 'FESA4', 'FHER3', 'FIGE3', 'FIGE4', 'FIQE3', 'FLEX3', 'FLRY3', 'FNCN3', 'FRAS3', 'FRIO3', 'FRTA3', 'FTRT3B', 'G2DI33', 'GBIO33', 'GEPA3', 'GEPA4', 'GFSA3', 'GGBR3', 'GGBR4', 'GGPS3', 'GMAT3', 'GNDI3', 'GOAU3', 'GOAU4', 'GOLL4', 'GPAR3', 'GPIV33', 'GRND3', 'GSHP3', 'GUAR3', 'HAGA3', 'HAGA4', 'HAPV3', 'HBOR3', 'HBRE3', 'HBSA3', 'HBTS5', 'HETA3', 'HETA4', 'HGTX3', 'HOOT3', 'HOOT4', 'HYPE3', 'IDVL3', 'IDVL4', 'IFCM3', 'IGBR3', 'IGSN3', 'IGTA3', 'INEP3', 'INEP4', 'INNT3', 'INTB3', 'IRBR3', 'ITEC3', 'ITSA3', 'ITSA4', 'ITUB3', 'ITUB4', 'JALL3', 'JBDU3', 'JBDU4', 'JBSS3', 'JFEN3', 'JHSF3', 'JOPA3', 'JOPA4', 'JPSA3', 'JSLG3', 'KEPL3', 'KLBN11', 'KLBN3', 'KLBN4', 'LAME3', 'LAME4', 'LAND3', 'LAVV3', 'LCAM3', 'LEVE3', 'LHER3', 'LHER4', 'LIGT3', 'LINX3', 'LIPR3', 'LJQQ3', 'LLIS3', 'LOGG3', 'LOGN3', 'LPSB3', 'LREN3', 'LTEL3B', 'LUPA3', 'LUXM3', 'LUXM4', 'LVTC3', 'LWSA3', 'MAPT3', 'MAPT4', 'MATD3', 'MBLY3', 'MDIA3', 'MDNE3', 'MEAL3', 'MELK3', 'MERC3', 'MERC4', 'MGEL3', 'MGEL4', 'MGLU3', 'MILS3', 'MLAS3', 'MMXM3', 'MNDL3', 'MNPR3', 'MOAR3', 'MODL11', 'MODL3', 'MODL4', 'MOSI3', 'MOVI3', 'MRFG3', 'MRSA3B', 'MRSA5B', 'MRSA6B', 'MRVE3', 'MSPA3', 'MSPA4', 'MSRO3', 'MTIG3', 'MTIG4', 'MTRE3', 'MTSA3', 'MTSA4', 'MULT3', 'MWET3', 'MWET4', 'MYPK3', 'NAFG3', 'NAFG4', 'NEMO3', 'NEMO5', 'NEMO6', 'NEOE3', 'NGRD3', 'NINJ3', 'NORD3', 'NRTQ3', 'NTCO3', 'NUTR3', 'ODER4', 'ODPV3', 'OFSA3', 'OGXP3', 'OIBR3', 'OIBR4', 'OMGE3', 'OPCT3', 'ORVR3', 'OSXB3', 'PARD3', 'PATI3', 'PATI4', 'PCAR3', 'PCAR4', 'PDGR3', 'PDTC3', 'PEAB3', 'PEAB4', 'PETR3', 'PETR4', 'PETZ3', 'PFRM3', 'PGMN3', 'PINE3', 'PINE4', 'PLAS3', 'PLPL3', 'PMAM3', 'PNVL3', 'PNVL4', 'POMO3', 'POMO4', 'POSI3', 'POWE3', 'PPAR3', 'PPLA11', 'PRIO3', 'PRNR3', 'PSSA3', 'PTBL3', 'PTCA11', 'PTCA3', 'PTNT3', 'PTNT4', 'QUAL3', 'QUSW3', 'QVQP3B', 'RADL3', 'RAIL3', 'RAIZ4', 'RANI3', 'RANI4', 'RAPT3', 'RAPT4', 'RCSL3', 'RCSL4', 'RDNI3', 'RDOR3', 'RECV3', 'REDE3', 'RENT3', 'RLOG3', 'RNEW11', 'RNEW3', 'RNEW4', 'ROMI3', 'RPAD3', 'RPAD5', 'RPAD6', 'RPMG3', 'RRRP3', 'RSID3', 'RSUL3', 'RSUL4', 'SANB11', 'SANB3', 'SANB4', 'SAPR11', 'SAPR3', 'SAPR4', 'SBFG3', 'SBSP3', 'SCAR3', 'SEDU3', 'SEER3', 'SEQL3', 'SGPS3', 'SHOW3', 'SHUL3', 'SHUL4', 'SIMH3', 'SLCE3', 'SLED3', 'SLED4', 'SMFT3', 'SMLS3', 'SMTO3', 'SNSY3', 'SNSY5', 'SNSY6', 'SOJA3', 'SOMA3', 'SOND3', 'SOND5', 'SOND6', 'SPRT3B', 'SQIA3', 'STBP3', 'STKF3', 'STTR3', 'SULA11', 'SULA3', 'SULA4', 'SUZB3', 'TAEE11', 'TAEE3', 'TAEE4', 'TASA3', 'TASA4', 'TCNO3', 'TCNO4', 'TCSA3', 'TECN3', 'TEKA3', 'TEKA4', 'TELB3', 'TELB4', 'TEND3', 'TESA3', 'TFCO4', 'TGMA3', 'TIET11', 'TIET3', 'TIET4', 'TIMS3', 'TKNO3', 'TKNO4', 'TOTS3', 'TOYB3', 'TOYB4', 'TPIS3', 'TRAD3', 'TRIS3', 'TRPL3', 'TRPL4', 'TTEN3', 'TUPY3', 'TXRX3', 'TXRX4', 'UCAS3', 'UGPA3', 'UNIP3', 'UNIP5', 'UNIP6', 'USIM3', 'USIM5', 'USIM6', 'VALE3', 'VAMO3', 'VIVA3', 'VIVR3', 'VIVT3', 'VIVT4', 'VLID3', 'VSPT3', 'VSPT4', 'VULC3', 'VVAR3', 'WEGE3', 'WEST3', 'WHRL3', 'WHRL4', 'WIZS3', 'WLMM3', 'WLMM4', 'WSON33', 'YDUQ3']

In [41]:
DATA_INICIAL = "2016-01-01"
DATA_FINAL = "2020-12-31"
REFERENCIA = "^BVSP"

for I_CONT in range(1):
    ACAO = TICKER_LISTA[I_CONT] + '.SA'
    df = yf.download([ACAO, REFERENCIA], start = DATA_INICIAL, end = DATA_FINAL)["Adj Close"]
    df.columns=['ACAO','IBOV'];
    df.dropna(inplace=True)
    df['% IBOV'] = df['IBOV'].pct_change()
    df['% ACAO'] = df['ACAO'].pct_change()

df

[*********************100%***********************]  2 of 2 completed

                 ACAO      IBOV    % IBOV    % ACAO
Date
2016-10-28  19.007032   64308.0       NaN       NaN
2016-10-31  17.878487   64925.0  0.009594 -0.059375
2016-11-01  17.720097   63326.0 -0.024628 -0.008859
2016-11-03  17.809193   61750.0 -0.024887  0.005028
2016-11-04  17.571604   61598.0 -0.002462 -0.013341
...               ...       ...       ...       ...
2020-12-22  10.920000  116348.0  0.002862 -0.026738
2020-12-23  11.050000  117857.0  0.012970  0.011905
2020-12-28  11.010000  119051.0  0.010131 -0.003620
2020-12-29  11.090000  119475.0  0.003561  0.007266
2020-12-30  11.100000  119306.0 -0.001415  0.000902

[1030 rows x 4 columns]

In [18]:
start_date = "2019-01-01"
end_date = "2020-12-31"
bench_name = "^BVSP"
asset_name = "VALE3.SA"
df = yf.download([asset_name, bench_name], start = start_date, end = end_date)["Adj Close"]
df.columns=['Asset','Benchmark'];
df.dropna(inplace=True)
df

[*********************100%***********************]  2 of 2 completed

                Asset  Benchmark
Date
2019-01-02  44.829338    91012.0
2019-01-03  42.995453    91564.0
2019-01-04  45.794544    91841.0
2019-01-07  45.548859    91699.0
2019-01-08  45.987583    92032.0
...               ...        ...
2020-12-22  81.581139   116348.0
2020-12-23  81.975250   117857.0
2020-12-28  81.928322   119051.0
2020-12-29  81.703117   119475.0
2020-12-30  82.059692   119306.0

[494 rows x 2 columns]

In [42]:
df[1:]

                 ACAO      IBOV    % IBOV    % ACAO
Date
2016-10-31  17.878487   64925.0  0.009594 -0.059375
2016-11-01  17.720097   63326.0 -0.024628 -0.008859
2016-11-03  17.809193   61750.0 -0.024887  0.005028
2016-11-04  17.571604   61598.0 -0.002462 -0.013341
2016-11-07  17.472610   64052.0  0.039839 -0.005634
...               ...       ...       ...       ...
2020-12-22  10.920000  116348.0  0.002862 -0.026738
2020-12-23  11.050000  117857.0  0.012970  0.011905
2020-12-28  11.010000  119051.0  0.010131 -0.003620
2020-12-29  11.090000  119475.0  0.003561  0.007266
2020-12-30  11.100000  119306.0 -0.001415  0.000902

[1029 rows x 4 columns]

In [43]:
beta_1 = df["% ACAO"].cov(df["% IBOV"]) / df["% IBOV"].var()
beta_1

0.6519517666918625

In [45]:
df = pd.DataFrame([(1, 2), (0, 3), (2, 0), (1, 1)],
                  columns=['dogs', 'cats'])

In [46]:
df.cov()

          dogs      cats
dogs  0.666667 -1.000000
cats -1.000000  1.666667

In [49]:
df['dogs'].cov(df['cats'])

-1.0